<!DOCTYPE HTML>
<html ng-app='dashboard'>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="./js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/lodash.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="./js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/app.js" type="text/javascript" charset="utf-8"></script>


  </head>
  <body ng-controller='DashboardController as dashboard'>
    <form ng-submit="searchClasses()" style='display: inline-block'>
      <input type="serach" ng-model="searchTerm" placeholder="Suchen..." />

      <label ng-repeat="day in days">
        {{day.day}}<input type="checkbox" ng-model="selection[$index]" id="{{day.day}}" />
      </label>
      <select ng-model="bookable">
        <option value="false">Alle Kurse</option>
        <option value="true">Nur buchbare</option>
        <option value="waitingList">Buchbar &amp; Warteliste</option>
      </select>
    </form>
    <p style='float: right'> Letztes Update: <span id='lastUpadated'>{{lastUpdated}}</span> </p>
    <div ng-repeat='sportsClass in sportsClasses | orderBy: "name" '>
      <h1> {{ sportsClass.name }} </h1>
      <a href="{{ sportsClass.url }}"> {{ sportsClass.url }} </a>
      <p style="white-space: pre-line;"> {{ sportsClass.description }} </p>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Tag</th>
          <th>Zeit</th>
          <th>Zeitraum</th>
          <th>Ort</th>
          <th>Preis</th>
          <th>Buchbar</th>
        </tr>
        <tr ng-repeat='course in sportsClass.courses'>
          <td> {{course.name }} </td>
          <td> {{course.day }} </td>
          <td> {{course.time }} </td>
          <td> {{course.startDate}}-{{course.endDate}} </td>
          <td> {{course.place }} </td>
          <td> {{course.price }} </td>
          <td> {{course.bookable }} </td>
        </tr>
      </table>
    </div>
  </body>
</html>
