<!DOCTYPE HTML>
<html ng-app='dashboard'>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="./js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/lodash.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="./js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/app.js" type="text/javascript" charset="utf-8"></script>


  </head>
  <body ng-controller='DashboardController as dashboard'>
    <form ng-submit="searchClasses()">
      <input type="serach" ng-model="searchTerm" placeholder="Suchen..." />
      <input type="submit">
    </form>
    <div ng-repeat='sportsClass in sportsClasses | orderBy: "name" '>
      <h1> {{ sportsClass.name }} </h1>
      <a href="{{ sportsClass.url }}"> {{ sportsClass.url }} </a>
      <p> {{ sportsClass.description }} </p>
      <div ng-repeat='date in sportsClass.dates'>
        <p> {{date.day }} </p>
      </div>
    </div>
  </body>
</html>
